footer-ext

    div#footer(class='navbar navbar-inverse navbar-fixed-bottom')
        div(class='container')
            div(class='collapse navbar-collapse' id='footer')
                ul(class='nav navbar-nav navbar-right')
                    li: a(href='') Direcci&oacute;n
                    li: a(href='') Tel&eacute;fono
                    li: a(href='') Contacto
                    li: a(href='') Aviso de Privacidad