header-ext


div(class='navbar navbar-inverse navbar-fixed-top')
    div(class='container-fluid')
        div(class='navbar-header')
            button(type='button', 
                class='navbar-toggle collapsed',
                data-toggle='collapse', 
                data-target='#menu'
                aria-expanded='false')
                span(class='sr-only') Abrir menu
                span(class='icon-bar')
                span(class='icon-bar')
                span(class='icon-bar')
            a(class='navbar-brand') Pulsatio
        div(class='collapse navbar-collapse' id='menu')
            ul(class='nav navbar-nav')
                li(class='active')
                    a(href='/') Inicio
                        span(class='sr-only') Actual
                li: a(href='#funcionalidad') Funcionalidad
                li: a(href='#quienes-somos') ¿Quiénes somos?
                li: a(href='#que-es-pulsatio') ¿Qué es pulsatio?
                li: a(href='#mision-vision') Mision y Visión
                li: a(href='#afiliados') Afiliados
            ul(class='nav navbar-nav navbar-right')
                li: a(href='registro') Registro
                li: a(href='acceso') Acceso
                