header    

    header
        title= title
        meta(charset='utf-8')
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        script(type='text/javascript', src='/javascripts/bootstrap.js/')
        script(type='text/javascript', src='/javascripts/npm.js/')