extends layout

block content

  div(class='container')
    div(class='page-header')
      p(align='center')
        img(src='/images/Iconillo.png', height='250px') 
      h1(align='center') PULSATIO

  div(id='inicio' classs='container')
    div(class='col-sm-3 col-sm-offset-3')
      a(class='btn btn-primary btn-lg btn-block' href='registro') Registro
    div(class='col-sm-3')
      a(class='btn btn-success btn-lg btn-block' href='acceso') Acceso

  div(id='funcionalidad' class='container-fluid')
    div(class='page-header')
      h1(class='align-center') Funcionalidad
