extends layout

block content
    div(class='container')
        div(class='page-header')
            h1 Registro

        form(class='')
            div(class='form-horizontal')
                div(class='form-group')
                    label(for='cedula', class='col-sm-2 control-label') Cédula
                    div(class='col-sm-3')
                        input(type='text', class='form-control', id='cedula', placeholder='Cédula')
                div(class='form-group')
                    label(for='name', class='col-sm-2 control-label') Nombre
                    div(class='col-sm-3')
                        input(type='text', class='form-control', id='nombre', placeholder='Nombre')
                div(class='form-group')
                    label(for='lastname_1', class='col-sm-2 control-label') Apellido paterno
                    div(class='col-sm-3')
                        input(type='text', class='form-control', id='apellido_1', placeholder='Apellido paterno')
                div(class='form-group')
                    label(for='lastname_2', class='col-sm-2 control-label') Apelllido materno
                    div(class='col-sm-3')
                        input(type='text', class='form-control', id='apellido_2', placeholder='Apellido materno')
                div(class='form-group')
                    label(for='especialidad', class='col-sm-2 control-label') Especialidad
                    div(class='col-sm-3')
                        select(id='especialidad', name='especialidad')
                            option() Especialidad...
                            option(value='General') M&eacute;dico General
                            option(value='Medicina_Interna') Medicina Interna
                            option(value='Cardiologia') Cardiolog&iacute;a
                            option(value='Nefrologia') Nefrolog&iacute;a
                            option(value='Neurologia') Neurolog&iacute;a
                            option(value='Dermatologia') Dermatolog&iacute;a
                            option(value='Ginecologia') Ginecolog&iacute;a
                            option(value='Cirugia') Cirug&iacute;a


