<html>
    <head>
        <title><%= title %></title>
        <%- include layouts/headers.ejs %>
    </head>

    <body ng-app="Pulsatio">
        <!-- Navigation section -->
        <%- include layouts/navigation_init.ejs %>

        <div class="container-fluid">
            <div class="page-header">
                <h1 align="center">Pulsatio</h1>
            </div>
            <div>
                <ul class="nav nav-tabs" role="tablist" >
                    <li role="presentation" class="active"><a href="#incio" aria-controls="inicio" role="tab" data-toggle="tab">Inicio<span class="sr-only">(Actual)</span></li>
                    <li role="presentation"><a href="#funcionalidad" aria-controls="funcionalidad" role="tab" data-toggle="tab">Funcionalidad</a></li>
                    <li role="presentation"><a href="#queespulsatio" aria-controls="queespulsatio" role="tab" data-toggle="tab">Funcionalidad</a></li>
                    <li role="presentation"><a href="#convenios" aria-controls="convenios" role="tab" data-toggle="tab">Funcionalidad</a></li>
                    <li role="presentation"><a href="#contacto" aria-controls="contacto" role="tab" data-toggle="tab">Funcionalidad</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>