<div class="row">
	<div class="page-header">
		<h1 align="center" class="init-titles">Funcionalidad</h1>
	</div>
	<div class="init-titles">
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="/assets/images/wearable.png" alt="Smartwatch" />
				<div class="caption">
					<h3 align="center">Tecnología</h3>
					<p align="center">Pulsatio lleva una lectura de los signos vitales a través de un reloj inteligente, 
					de esta forma su médico está al tanto de su progreso.</p>
					<p align="center"><a href="#" class="btn btn-primary" role="button">Conocer m&aacute;s</a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="/assets/images/ecg.png" alt="Electrocardiogram" style="padding-top: 52px" />
				<div class="caption">
					<h3 class="init-titles">Monitoreo</h3>
					<p>Pulsatio lleva una lectura de los signos vitales en tiempo real, cuando es necesario activa funciones de alerta y emergencia oportunas.</p>
					<p><a href="#" class="btn btn-primary" role="button">Conocer m&aacute;s</a></p>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img src="/assets/images/treatment.png" alt="Tratamiento" />
				<div class="caption">
					<h3>Tratamiento</h3>
					<p>Es una oportunidad de mejorar las opciones de tratamiento gracias a un seguimiento más cercano del paciente con enfermedad cardiaca.</p>
					<p><a href="#" class="btn btn-primary" role="button">Conocer m&aacute;s</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
