<html>
    <head>
        <title><%= title %></title>
        <%- include('../layouts/headers') %>
    </head>
    <body>
        <!-- Navigation for internal use -->
        <%- include('../layouts/navigation') %>

        
    </body>
</html>