<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#home"
                    aria-expanded="false">
                    <span class="sr-only">Navegar</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index">Pulsatio</a>
        </div>
        <div class="collapse navbar-collapse" id="home">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.ejs">Inicio<span class="sr-only">(Actual)</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="access/register.ejs">Registro</a></li>
                <li><a href="access/login.ejs">Login</a></li>
            </ul>
        </div>
    </div>
</nav>